<header>
  <h1>Product # 1 <br><small>On store Store Name</small></h1>
</header>
<dl>
  <dt>Description</dt>
  <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ducimus rem enim, ipsam esse necessitatibus est tenetur veniam reiciendis. Saepe maxime, assumenda quis possimus omnis voluptatum autem architecto magni? Nam.</dd>
  <dt>Price</dt>
  <dd>$100.00</dd>
  <dt>Total in shelf</dt>
  <dd>100</dd>
  <dt>Total in vault</dt>
  <dd>100</dd>
</dl>
<a href="#/" class="btn btn-block btn-danger">Go back</a>