<carousel interval="-1" style="width: 250px; height: 250px;">
  <slide ng-repeat="slide in product.image.images">
    <img ng-src="{{slide}}" image-src="{{slide}}" image-zoom>
  </slide>
</carousel>
<header>
  <h1>{{ product.name }}<br><small>On store Store Name</small></h1>
</header>

<dl>
  <dt>Description</dt>
  <dd>{{ product.description }}</dd>
  <dt>Price</dt>
  <dd>{{ product.price }}</dd>
  <dt>Total in shelf</dt>
  <dd>{{ product.total_in_shelf}}</dd>
  <dt>Total in vault</dt>
  <dd>{{ product.total_in_vault}}</dd>
</dl>
<a href="#/stores/{{ product.store_id }}" class="btn btn-block btn-danger">Go back to all stores</a>