<header>
  <h1>Create product</h1>
</header>
<form role="form" name="product.form" ng-submit="create()">
  <div class="form-group required">
    <label class="control-label" for="product-name">Name</label>
    <input type="text" class="form-control" name="product.name" id="product-name" placeholder="Product name" ng-model="product.name" required>
  </div>
  <div class="form-group required">
    <label class="control-label" for="product-description">Description</label>
    <textarea class="form-control" name="product.description" id="product-description" placeholder="Product description" ng-model="product.description" required></textarea>
  </div>
  <div class="form-group required">
    <label class="control-label" for="product-price">Price</label>
    <input type="number" class="form-control" name="product.price" id="product-price" placeholder="Product price" ng-model="product.price" required>
  </div>
  <div class="form-group required">
    <label class="control-label" for="product-shelf">Total shelf</label>
    <input type="number" class="form-control" name="product.total_in_shelf" id="product-shelf" placeholder="Total products in shelf" ng-model="product.total_in_shelf" required>
  </div>
  <div class="form-group required">
    <label class="control-label" for="product-shelf">Total vault</label>
    <input type="number" class="form-control" name="product.total_in_vault" id="product-vault" placeholder="Total products in vault" ng-model="product.total_in_vault" required>
  </div>
  <button type="submit" class="btn btn-block btn-success">Create product</button>
  <a href="#/stores/1" class="btn btn-block btn-danger">Go back</a>
</form>