<header>
  <h1>Update product</h1>
</header>
<form role="form" name="editProduct" ng-submit="update()" novalidate>
  <div class="form-group required" ng-class="{ 'has-error' : editProduct.name.$invalid && !editProduct.name.$pristine }">
    <label class="control-label" for="product-name">Name</label>
    <input type="text" class="form-control" name="name" id="product-name" placeholder="Product name" ng-model="product.name" required>
    <p ng-show="editProduct.name.$invalid && !editProduct.name.$pristine" class="help-block">Product name is required.</p>
  </div>
  <div class="form-group required" ng-class="{ 'has-error' : editProduct.description.$invalid && !editProduct.description.$pristine }">
    <label class="control-label" for="product-description">Description</label>
    <textarea class="form-control" name="description" id="product-description" placeholder="Product description" ng-model="product.description" required>{{ product.description }}</textarea>
    <p ng-show="editProduct.description.$error.minlength" class="help-block">Product description is too short.</p>
  </div>
  <div class="form-group required" ng-class="{ 'has-error' : editProduct.price.$invalid && !editProduct.price.$pristine }">
    <label class="control-label" for="product-price">Price</label>
    <input type="number" class="form-control" name="price" id="product-price" placeholder="Product price" ng-model="product.price" required>
    <p ng-show="editProduct.price.$invalid && !editProduct.price.$pristine" class="help-block">Product price is required.</p>
  </div>
  <div class="form-group required" ng-class="{ 'has-error' : editProduct.total_in_shelf.$invalid && !editProduct.total_in_shelf.$pristine }">
    <label class="control-label" for="product-shelf">Total shelf</label>
    <input type="number" class="form-control" name="total_in_shelf" id="product-shelf" placeholder="Total products in shelf" ng-model="product.total_in_shelf" required>
    <p ng-show="editProduct.total_in_shelf.$invalid && !editProduct.total_in_shelf.$pristine" class="help-block">Product total in shelf qty is required.</p>
  </div>
  <div class="form-group required" ng-class="{ 'has-error' : editProduct.total_in_vault.$invalid && !editProduct.total_in_vault.$pristine }">
    <label class="control-label" for="product-shelf">Total vault</label>
    <input type="number" class="form-control" name="total_in_vault" id="product-vault" placeholder="Total products in vault" ng-model="product.total_in_vault" required>
    <p ng-show="editProduct.total_in_vault.$invalid && !editProduct.total_in_vault.$pristine" class="help-block">Product total in vault qty is required.</p>
  </div>
  <div class="form-group required" ng-class="{ 'has-error' : createProduct.image.$invalid && !createProduct.image.$pristine }">
    <label class="control-label" for="product-image">The shoes are:</label>
    <select class="form-control" id="product-image" name="image" ng-model="product.image" ng-options="image.name for image in images" required></select>
    <p ng-show="createProduct.image.$invalid && !createProduct.image.$pristine" class="help-block">Product image is required.</p>
  </div>
  <button type="submit" class="btn btn-block btn-success" ng-disabled="editProduct.$invalid">Update product</button>
  <a href="#/stores/{{ product.store_id }}" class="btn btn-block btn-danger">Go back</a>
</form>