<header>
  <h1>{{ store.name }}<br><small>{{ store.address }}</small></h1>
</header>
<div class="jumbotron" ng-hide="products.length ">
  <h3>No products...yet!</h3>
</div>
<div ng-show="products.length" class="table-responsive">
  <h2>Products</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Shelf</th>
        <th>Vault</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.total_in_shelf }}</td>
        <td>{{ product.total_in_vault }}</td>
        <td><a href="#/stores/{{ product.store_id }}/products/{{ product.id }}">View</a></td>
        <td><a href="#/stores/{{ product.store_id }}/products/{{ product.id }}/edit">Edit</a></td>
        <td><a href ng-click="delete(product.id)">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>
<a href="#/stores/{{ store.id }}/products/new" class="btn btn-block btn-success">Create product</a>