<header>
  <h1>Stores {{name}}</h1>
</header>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="store in stores">
        <td>{{ store.id }}</td>
        <td>{{ store.name }}</td>
        <td>{{ store.address }}</td>
        <td><a href="#/stores/{{ store.id }}">View</a></td>
        <td><a href="#/stores/{{ store.id }}/edit">Edit</a></td>
        <td><a href="#/" ng-click="delete(store)">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>
<a href="#/stores/new" class="btn btn-block btn-success">Create store</a>