<header>
  <h1>Stores</h1>
</header>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1,001</td>
        <td>Lorem ipsum dolor</td>
        <td>Street 34 # 32 - 123 Apt 2300</td>
        <td><a href="#/stores/1">View</a></td>
        <td><a href="#/stores/1/edit">Edit</a></td>
        <td><a href="/#">Delete</a></td>
      </tr>
      <tr>
        <td>1,002</td>
        <td>Lorem ipsum dolor</td>
        <td>Street 34 # 32 - 123 Apt 2300</td>
        <td><a href="#/stores/1">View</a></td>
        <td><a href="#/stores/1/edit">Edit</a></td>
        <td><a href="/#">Delete</a></td>
      </tr>
      <tr>
        <td>1,003</td>
        <td>Lorem ipsum dolor</td>
        <td>Street 34 # 32 - 123 Apt 2300</td>
        <td><a href="#/stores/1">View</a></td>
        <td><a href="#/stores/1/edit">Edit</a></td>
        <td><a href="/#">Delete</a></td>
      </tr>
      <tr>
        <td>1,004</td>
        <td>Lorem ipsum dolor</td>
        <td>Street 34 # 32 - 123 Apt 2300</td>
        <td><a href="#/stores/1">View</a></td>
        <td><a href="#/stores/1/edit">Edit</a></td>
        <td><a href="/#">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>