<header>
  <h1>{{ store.name }}<br><small>{{ store.address }}</small></h1>
</header>
<h2>Products</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Shelf</th>
        <th>Vault</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.total_in_shelf }}</td>
        <td>{{ product.total_in_vault }}</td>
        <td><a href="#/products/{{ product.id }}">View</a></td>
        <td><a href="#/products/{{ product.id }}/edit">Edit</a></td>
        <td><a href="#/" ng-click="delete(store)">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>
<a href="#/products/new" class="btn btn-block btn-success">Create another product</a>