<header>
  <h1>Store Name # 1 <small>Lorem ipsum dolor sit amet</small></h1>
</header>
<h2s>Articles</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Total in shelf</th>
        <th>Total in vault</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1,001</td>
        <td>Blue shoes</td>
        <td>Lorem ipsum dolor</td>
        <td>$50.00</td>
        <td>100</td>
        <td>200</td>
        <td><a href="/#">View</a></td>
        <td><a href="/#">Edit</a></td>
        <td><a href="/#">Delete</a></td>
      </tr>
      <tr>
        <td>1,002</td>
        <td>Blue shoes</td>
        <td>Lorem ipsum dolor</td>
        <td>$50.00</td>
        <td>100</td>
        <td>200</td>
        <td><a href="/#">View</a></td>
        <td><a href="/#">Edit</a></td>
        <td><a href="/#">Delete</a></td>
      </tr>
      <tr>
        <td>1,003</td>
        <td>Blue shoes</td>
        <td>Lorem ipsum dolor</td>
        <td>$50.00</td>
        <td>100</td>
        <td>200</td>
        <td><a href="/#">View</a></td>
        <td><a href="/#">Edit</a></td>
        <td><a href="/#">Delete</a></td>
      </tr>
      <tr>
        <td>1,004</td>
        <td>Blue shoes</td>
        <td>Lorem ipsum dolor</td>
        <td>$50.00</td>
        <td>100</td>
        <td>200</td>
        <td><a href="/#">View</a></td>
        <td><a href="/#">Edit</a></td>
        <td><a href="/#">Delete</a></td>
      </tr>
      <tr>
        <td>1,005</td>
        <td>Blue shoes</td>
        <td>Lorem ipsum dolor</td>
        <td>$50.00</td>
        <td>100</td>
        <td>200</td>
        <td><a href="/#">View</a></td>
        <td><a href="/#">Edit</a></td>
        <td><a href="/#">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>
<form role="form">
  <button type="submit" class="btn btn-block btn-success">Create another product</button>
</form>