<header>
  <h1>{{ store.name }}<br><small>{{ store.address }}</small></h1>
</header>
<h3>{{ product.name }}</h3>
<dl>
  <dt>Price</dt>
  <dd>{{ product.price | currency }}</dd>
  <dt>Total in shelf</dt>
  <dd>{{ product.total_in_shelf }}</dd>
  <dt>Description</dt>
  <dd>{{ product.description }}</dd>
</dl>

<form role="form" name="cartAdd" ng-submit="addToCart(product)" novalidate>
  <div class="form-group required" ng-class="{ 'has-error' : cartAdd.name.$invalid && !cartAdd.name.$pristine }">
    <label class="control-label" for="shelf">How many {{ product.name }} you need</label>
    <select class="form-control" id="shelf" name="total_bought" ng-model="total_bought" ng-options="total for total in [] | range:1:product.total_in_shelf" required></select>
    <p ng-show="cartAdd.name.$invalid && !cartAdd.name.$pristine" class="help-block">Store name is required.</p>
  </div>
  <button type="submit" class="btn btn-block btn-success" ng-disabled="cartAdd.$invalid">Add to cart</button>
</form>
<br>
<a href="#/shopping-cart/stores" class="btn btn-block btn-danger">Go back to stores list</a>